


body{
	height:80% 
	width: 70%;
	margin: 0 auto;
	background-color: #777;
	padding: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px

}
	header{
	position: relative;
	width:900px;
	height:50px;
	background-color:#ebebeb;
	margin-left:10px;
	padding-top: 30px;
	color: #777;
	text-align: center;
	margin: auto;

}

nav{
	position: relative;
	width:900px;
	height:50px;
	background-color:#ebebeb;
	/*margin-left:150px;
	margin-top: 15px;*/
	padding-top: 30px;
	color: #777;
	text-align: center;
	margin: auto;
}

section{
	position: absolute;
	width: 500px;
	height: 300px;
	background-color:#ebebeb;
	margin-top: 15px;
	margin-left:200px;
	color: #777;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;


}
article{
	position:absolute;
	width: 470px;
	height: 220px;
	margin-top: 50px;
	margin-left:15px;
	color: #ebebeb;
	text-align: center;
	background-color:#777;
	padding-top: 10px;
}
#div2{
	position:absolute;
	width: 400px;
	height: 40px;
	background-color:#ebebeb;
	bottom: 130px;
	margin-left:50px;
	color: #777;
	text-align: center;
	padding-top: 15px;
	}

#div3{
	position:absolute;
	width: 400px;
	height: 40px;
	background-color:#ebebeb;
	bottom: 65px;
	margin-left:50px;
	color: #777;
	text-align: center;
	padding-bottom: 15px;
}

aside{
	position: absolute;
	width: 360px;
	height: 300px;
	background-color:#ebebeb;
    margin-bottom: 10px;
	left: 750px;
	color: #777;
	float: right;
	bottom: 55px;
	padding: 30px 0 30px 0;
	text-align: center;
	
}

footer{
  position: absolute;
  width:900px;
  height:50px;
 /* padding-top:40px;*/
  bottom: 0;
  margin-left:200px;
  background-color:#ebebeb;
  text-align: center;
  color: #777;
  margin-top:40px;
 
  
}




